:root{
    --primecolour:#1b1f24;
    --textcolour: #b1b1c5;
    --secondarycolor:#12bafc;
    --blacklight:#22282f;
    --textcolor1:#d6d6e3;

    
}
.{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* header strats */
header{
    background-color: var(--primecolour);
    color: var(--textcolour);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.roll{
    color: var(--textcolor1);
    font-size: x-large;
    font-weight: bold;
}

ul{
    list-style: none;
    display: flex
    
    }
ul li{
    margin-right: 20px;
    text-transform: uppercase;
    
    
    
    
    
}
ul li a{
   
   text-decoration: none;
   color: var(--textcolour);
   font-weight: 900;

}
ul li a:hover{
    /* color: red; */
    cursor: pointer;
}
.cv{
    padding: 10px;
    font-weight: bold;
    background-color: var(--secondarycolor);
    border-radius: 50%;
    

}
.cv>a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
/* header ends */
/* main starts */
section.middle{
    background-color: var(--primecolour);
    color: var(--textcolor1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section h2.tle{
    text-transform: capitalize;
    color: var(--secondarycolor);
    font-weight: bolder;
}
section p.disc{
    color: aquamarine;
    text-transform: capitalize;
}
<<<<<<< HEAD

        .fa {  
text-align: center;  
  /* margin: 5px;   */
  /* font-size: 50px;   */
  width: 30px;
  height: 30px;
  padding: 13px 5px 0px 3px;
  border-radius: 50%;
  
}  
.fa-facebook {  
  background: #3B5998;  
  color: white;
    
}  
.fa-twitter {  
  background: #55ACEE;  
  color: white;  
}  
.fa-pinterest {  
  background: #cb2027;  
  color: white;  
}  
.fa-linkedin {  
  background: #007bb5;  
  color: white;  
}  
.fa-instagram {  
  background: #125688;  
  color: white;  
}  
.fa-youtube {  
  background: #bb0000;  
  color: white;  
}  
.fa-google {  
  background: #dd4b39;  
  color: white;  
}  
.fa-snapchat-ghost {  
  background: #fffc00;  
  color: white;  
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
}  
.fa-skype {  
  background: #00aff0;  
  color: white;  
}  
.fa:hover {  
    opacity: 0.9;  
}  
    
.fa {  
    text-align: center;  
      /* margin: 5px;   */
      /* font-size: 50px;   */
      width: 30px;
      height: 30px;
      padding: 13px 5px 0px 3px;
      border-radius: 50%;
      
    }  
    .fa-facebook {  
      background: #3B5998;  
      color: white;
        
    }  
    .fa-twitter {  
      background: #55ACEE;  
      color: white;  
    }  
    .fa-pinterest {  
      background: #cb2027;  
      color: white;  
    }  
    .fa-linkedin {  
      background: #007bb5;  
      color: white;  
    }  
    .fa-instagram {  
      background: #125688;  
      color: white;  
    }  
    .fa-youtube {  
      background: #bb0000;  
      color: white;  
    }  
    .fa-google {  
      background: #dd4b39;  
      color: white;  
    }  
    .fa-snapchat-ghost {  
      background: #fffc00;  
      color: white;  
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
    }  
    .fa-skype {  
      background: #00aff0;  
      color: white;  
    }  
    .fa:hover {  
        opacity: 0.9;  
    }  
ul.icons{
    padding: 0px;
    margin: 20px 0;
}
.hero_image{
    /* border-radius: 50%; */
    /* transform: rotate(-20deg); */
   /* margin: 10px 0;  */
    
}
.herobtn{
    padding: 5px 30px;
    text-transform: capitalize;
    font-size: large;
    font-weight: bold;
    background-color: var(--secondarycolor);
    border-radius: 40%;
}
.herobtn:hover{
  cursor: pointer;

}
/* biodata section */
.biodata_section{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--blacklight);
    color: white;
    padding: 50px 150px;
}
.biodata_text{
    text-transform: capitalize;
    padding-top: 100px;
    padding-bottom: 80px;
    /* margin-top: 20px; */

}
.mail{
  text-decoration: none;
  color: white;
  text-transform: none;
  
}
.biodata_image{
    /* margin: 0 0 200px 0 ; */

    
}
/* biodata ends */
/* sevice section starts */
.service_section{
  background-color: var(--primecolour);
  color: white;
}
.available_service{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.icons{
  background-color: white;
  border-radius: 20%;
}
