:root{
    --primecolour:#1b1f24;
    --textcolour: #b1b1c5;
    --secondarycolor:#12bafc;
    --blacklight:#22282f;
    --textcolor1:#d6d6e3;

    
}
.{
    margin: 0%;
    padding: 0%;
    
    
}
html{
    /* scroll-behavior: smooth; */
}

/* header strats */
header{
    background-color: var(--primecolour);
    color: var(--textcolour);
    /* padding: 10px 0; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}
.roll{
    color: var(--textcolor1);
    font-size: x-large;
    font-weight: bold;
}

ul{
    list-style: none;
    display: flex
    
    }
ul li{
    margin-right: 20px;
    text-transform: uppercase;
    
    
    
    
    
}
ul li a{
   
   text-decoration: none;
   color: var(--textcolour);
   font-weight: 900;

}
ul li a:hover{
    /* color: red; */
    cursor: pointer;
}
.cv{
    padding: 10px;
    font-weight: bold;
    background-color: var(--secondarycolor);
    border-radius: 50%;
    

}
.cv>a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
#navbar{
    position: fixed;
    top: 0;
    /* left: 0;
    right: 0; */

}
/* header ends */
/* main starts */
section.middle{
    background-color: var(--primecolour);
    color: var(--textcolor1);
    display: flex;
    padding: 60px 0 0 20px;
    
    width: 100%;
    justify-content: center;
    align-items: center;
    /* border:solid 1px #d7a4a4; */
}
.middle_desc{
    padding: 20px 30px;
}
.tle{
    text-transform: capitalize;
    color: var(--secondarycolor);
    font-weight: bolder;
}
section p.disc{
    color: aquamarine;
    text-transform: capitalize;
}
main ul li{
    padding: 0 10px;
    margin-left: -20px;
}

.herobtn{
    padding: 10px;
    text-transform: capitalize;
    font-size: large;
    font-weight: bold;
    background-color: var(--secondarycolor);
    height: 40px;
    width: 150px;
    border-radius: 40%;
}
.herobtn:hover{
  cursor: pointer;

}
/* biodata section */
.biodata_section{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--blacklight);
    color: var(--textcolor1);
    padding: 50px 30px 0 30px;
    width: 100%;
    
}
.biodata_text{
    text-transform: capitalize;
    padding-top: 100px;
    padding-bottom: 80px;
    /* margin-top: 20px; */

}
.biodata_text h2 span{
    color: var(--secondarycolor);
}
.mail{
  text-decoration: none;
  color: var(--textcolor1);
  text-transform: none;
  
}
.biodata_image{
    /* margin: 0 0 200px 0 ; */

    
}
/* biodata ends */
/* sevice section starts */
.service_section{
  background-color: var(--primecolour);
  color: white;
  color: var(--textcolor1);
  padding: 50px 20px 0 6px;
  width: 100%;
  
  
}
.my_service{
    margin: 0%;
    padding: 20px;
    color: var(--secondarycolor);
    font-size: x-large;
    
   
}

.available_service{
  display: flex;
  
  /* flex-flow: nowrap;
  justify-content: space-evenly; */
  /* justify-content: center;
  align-items: center;
  margin: 30px; */
  padding: 30px;
  justify-content: center;
  
  
}
/* .icons{
  background-color: white;
  border-radius: 20%;
} */
.service_section h1{
  /* color: red; */
  text-align: center;
  
  
}
.available_service div{
    border: solid 5px #d7a4a4;
    padding: 20px;
    text-align: center;
    height: 250px;
    width: 400px;
    
}
.available_service a i{
    color: white;
    background-color: var(--secondarycolor);
    padding: 10px;
    border-radius: 50%;
}
.contact_form{
    background-color: var(--blacklight);
    color: var(--textcolour);
    font-size: x-large;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}    
.contact_form form label,input,textarea{
    padding-bottom: 5px;
    padding-right: 100px;
    margin: 5px;
}
.herobtn{
    margin-left: 60px;
}   
footer{
    background-color: var(--primecolour);
    color: var(--textcolour);
    padding: 5px;
    text-align: center;
    width: 100%;
    
}
footer a{
    text-decoration: none;
    color: var(--secondarycolor);
}