:root{
    --primecolour:#1b1f24;
    --textcolour: #fdfdfe;
    --secondarycolor:#12bafc;
    
}
.{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* header strats */
header{
    background-color: var(--primecolour);
    color: var(--textcolour);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.roll{
    color: var(--textcolour);
    font-size: larger;
    font-weight: bold;
}

ul{
    list-style: none;
    display: flex
    
    }
ul li{
    margin-right: 20px;
    text-transform: uppercase;
    
    
    
    
    
}
ul li a{
   
   text-decoration: none;
   color: var(--textcolour);
   font-weight: 900;

}
ul li a:hover{
    color: red;
    cursor: pointer;
}
header button{
    padding: 10px;
    background-color: var(--secondarycolor);
    border-radius: 50%;
}
/* header ends */
/* main starts */
section.middle{
    background-color: var(--primecolour);
    color: var(--textcolour);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section h2.tle{
    text-transform: capitalize;
    color: var(--secondarycolor);
    font-weight: bolder;
}
section p.disc{
    color: aquamarine;
}